:root {
  --dark-orange: #fb8b24ff;
  --green-munsell: #04a777ff;
  --dogwood-rose: #d90368ff;
  --byzantium: #820263ff;
  --dark-purple: #291720ff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-purple);
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2em;
  background: var(--dark-orange);
  transition: background 0.15s ease-in-out;
}

.sponsor {
  position: absolute;
  padding: 0.5em;
  top: 0;
  right: 0;

  .link {
    color: white;
    text-decoration: none;
    font-size: 0.3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
}

.picture-wham-logo {
  margin-top: -0.3em;
}

footer {
  font-size: 0.4em;
  color: var(--byzantium);
}

.source,
.source:visited {
  color: inherit;
  transition: color 0.05s ease-in-out;
}

.source:hover {
  color: var(--dogwood-rose);
  transition: color 0.05s ease-in-out;
}

.content.drag-over {
  background: var(--byzantium);
}

.file-input {
  display: none;
}

.select-files {
  font-size: inherit;
  border: 2px var(--byzantium) solid;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.select-files:hover {
  color: white;
  background-color: var(--byzantium);
  transition: all 0.1s ease-in-out;
}

.drop-zone {
  border: 5px dashed var(--byzantium);
  border-radius: 50%;
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: white;
  overflow: hidden;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.info,
.status {
  font-size: 1rem;
  margin-top: 1rem;
}

.status {
  min-height: 1.2rem;
}

.loading {
  margin-left: 0.5rem;
  font-weight: bold;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: 3px solid var(--byzantium);
  border-radius: 50%;
  border-top-color: var(--green-munsell);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
