body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.drop-zone {
  border: 5px dashed blue;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

