name: Staging Cleanup

on:
  pull_request:
    types: [ closed ]

env:
  CI: true

jobs:
  Cleanup:
    name: Cleanup
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Dependencies
        uses: NullVoxPopuli/action-setup-pnpm@v2
      - name: Delete staging site
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          DEBUG: true
          VOLTA_FEATURE_PNPM: 1
        run: DEBUG=netlify-git-branch:* pnpm staging:delete
